.ClubRankingTable {
  font-family: "Roboto", "helvetica","sans-serif";
  width: 100%;
  margin: 10px auto;
	border-collapse: collapse;
	line-height: 2.2em;
}

.Short {
	display: none;
}

.ClubRankingTable thead tr {
	color: #ffffff;
  background-color: #374147;
}

.ClubRankingTable thead tr th{
	padding-left: 1rem;
	letter-spacing: 1px;
	text-align: left;
}

.ClubRankingTable thead tr th:first-child {
	border-radius: 5px 0 0 0 ;
}

.ClubRankingTable thead tr th:last-child {
	border-radius: 0 5px 0 0;
}

@media screen and (max-width: 800px) {
	.ClubRankingTable thead tr th:nth-last-child(3),
	.ClubRankingTable thead tr th:nth-last-child(2) {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.ClubRankingTable thead tr th:first {
		content: counter('Pos');
	}

	.Full {
		display: none;
	}

	.Short {
		display: block;
	}
}

@media screen and (max-width: 525px) {
	.ClubRankingTable thead tr th:last-child {
		display: none;
	}
}