.RankingRow:nth-child(odd){
  background-color: #ffffff;
}

.RankingRow:first-child{
  font-weight: bold;
}

.RankingRow:last-child{
	line-height: 1.5em;
	border-top: 5px solid #6e7bb7;
}

.RankingRow:nth-child(even){
  background-color: #eeeeee;
}

.RankingRow:last-child{
	background-color: #a9d0f5;
}

.RankingRow td{
	padding-left: 1rem;
}

@media screen and (max-width: 370px){
	.RankingRow td:nth-last-child(2){
		display: none;
	}
}

@media screen and (max-width: 650px){
	.RankingRow td:last-child{
		display: none;
	}
}