.SimpleRow:nth-child(odd){
  background-color: #ffffff;
}

.SimpleRow:first-child{
  font-weight: bold;
}

.SimpleRow:last-child{
	line-height: 1.5em;
	border-top: 5px solid #6e7bb7;
}

.SimpleRow:nth-child(even){
  background-color: #eeeeee;
}

.SimpleRow:last-child{
	background-color: #a9d0f5;
}

.SimpleRow td{
	padding-left: 1rem;
}