.SimpleTable {
  font-family: "Roboto", "helvetica","sans-serif";
  width: 90%;
  margin: 10px auto;
	border-collapse: collapse;
	line-height: 2.2em;
}

.SimpleTable thead tr {
	color: #ffffff;
  background-color: #374147;
}

.SimpleTable thead tr th{
	padding-left: 1rem;
	letter-spacing: 1px;
	text-align: left;
}

.SimpleTable thead tr th:first-child{
	width: 25%;
}
