.SimpleTable {
  font-family: "Roboto", "helvetica","sans-serif";
  width: 100%;
  margin: 10px auto;
	border-collapse: collapse;
	line-height: 2.2em;
}

.SimpleTable thead tr {
	color: #ffffff;
  background-color: #374147;
}

.SimpleTable thead tr th{
	padding-left: 1rem;
	letter-spacing: 1px;
	text-align: left;
}

.SimpleTable thead tr th:first-child,
.SimpleTable thead tr th:nth-last-child(2),
.SimpleTable thead tr th:last-child{
	width: 20%;
}
@media screen and (max-width: 370px){
	.SimpleTable thead tr th:nth-last-child(2){
		display: none;
	}
}

@media screen and (max-width: 650px){
	.SimpleTable thead tr th:last-child{
		display: none;
	}
}

@media screen and (min-width: 1024px){
	.SimpleTable{
		width: 1024px;
	}
}