.SimpleTable {
    align-content: center;
    width: 90%;
    margin: 10px auto;
    padding: 5x;
    border: 1px solid black;
    border-radius: 5px;
}

.SimpleTable td{
    padding-left: 10px;
    border-radius: 5px;
}

.SimpleTable tbody th{
    background: #ffc;
}

.SimpleTable tbody tr{
    background: #eee;
}

tr{
    border-bottom: 1px solid black;
}